/*Override CSS to overlay Luminus' header with Panopto's and make more space for it*/
/*I don't like using !important but doesn't work otherwise*/
ng-component.ng-star-inserted header.full-screen-header {
    position: absolute !important;
    height: 39px !important;
    z-index: 2;
    align-items: baseline !important;
}

ng-component.ng-star-inserted header.full-screen-header small {
    margin-top: 1px !important;
}

section.full-screen-body {
    top: 0px !important;
    height: 100% !important;
}
@media only screen and (max-width: 767px) {
    section.single-module ng-component aside {
        height: 39px !important;
        overflow: hidden;
    }
}