<div id="sidebar-tabs">
  <ul>
    <li id="sidebar-tab-1"><a href="#sidebar-tab-pg-1">Second Screen</a></li>
    <li id="sidebar-tab-2"><a href="#sidebar-tab-pg-2">Transcript</a></li>
    <li id="sidebar-tab-3"><a href="#sidebar-tab-pg-3">Settings</a></li>
  </ul>
  <div id="sidebar-tab-pg-1" style="height:0px; padding: 0"><!--Handle this tab with JS--></div>
  <div id="sidebar-tab-pg-2">
    <p>Transcript goes here.</p>
  </div>
  <div id="sidebar-tab-pg-3">
    <p>Settings (of app and webcast) goes here.</p>
  </div>
</div>