<div style="position: absolute;
    top: -1px;
    left: 100%;
    background: white;
    padding: 4px;
    border: 1px solid #cccccc;
    /* -webkit-box-shadow: #999999 0px 1px 5px 0; */
    -moz-box-shadow: #999999 0px 1px 5px 0;
    box-shadow: #999999 3px 1px 5px 0;
    border-left: 0px;
    width: 80px">
    <div>Volume Booster</div>
    <!--<div>
        <span id="vol-boost-btn-enable" style="padding:4px" class="hide-btn ui-state-default ui-button"><a href="#"><span>Enable</span></a></span>
    </div>-->
    <div id="vol-boost-ui-container">
        <span>Multiplier</span>
        <input id="vol-boost-gain" name="gain" type="number" min="0" step="0.1" value="1.0" style="width: 42px;"/>
        <span>Increase this to increase volume</span>
    </div>
    <div id="vol-boost-disclaimer">*Enable this feature if the webcast is too soft</div>
</div>